
.TMCommandBar {
  background-color: #23272e;
  height: 24px;
  border: 4px solid #23272e;
  box-sizing: content-box;
  display: flex;
  user-select: none;
  overflow-x: scroll;
	overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.TMCommandBar::-webkit-scrollbar {
  display: none;
}

.TMCommandButton {
  box-sizing: border-box;
  display: inline-block;
  height: 24px;
  width: 24px;
  padding: 3px;
  margin-right: 4px;
  color: #e0e0e0;
  fill: #e0e0e0;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  font-size: 20px;
  line-height: 18px;
  font-family: sans-serif;
  background-color: #23272e;
  border-radius: 3px;
  transition: background 0.2s, color 0.2s;
}

.TMCommandDivider {
  box-sizing: content-box;
  height: 24px;
  margin-left: 4px;
  margin-right: 8px;
  width: 0px;
  border-left: 1px solid #444;
  border-right: 1px solid #181a1b;
}

.TMCommandButton_Active {
  font-weight: bold;
  color: #fff;
  background-color: #3a3f4b;
  fill: #7abaff;
}

.TMCommandButton_Inactive {
  background-color: #23272e;
}

.TMCommandButton_Disabled {
  color: #555;
  fill: #555;
}

@media (hover: hover) {
  .TMCommandButton_Active:hover, .TMCommandButton_Disabled:hover, .TMCommandButton_Inactive:hover {
    background-color: #353a45;
    fill: #fff;
  }
}
